<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>h1{
    font-family: "Arial Black";
        color: #761c19;
    }
    span{
        color: #2b542c;

    }
    </style>
</head>{% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<body>
<center><h1>**ADD COURCES**</h1></center>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"style="min-height: 800px;font-size:20px;background: lightyellow">
<center>
            <h1><u>cources</u></h1>

         <h3>   Courses offered by Study Zone</h3><br><br>

</center>
            <h1>STUDY MATERIAl....</h1>

As per student Online Study Material demand, we have made examination notes for every
            semester and subjects. You can score good marks by reading these notes because all the questions mentioned
            in the exam notes are important and answered appropriately. Also, all subject notes will increase
            your confidence to appear in your exam in a way better
            manner and will help you in self-study. These notes will also clear your all concepts regarding the subject that has been mentioned in your exam course. These notes can be memorized within a short time.

If your exams are coming Online Study Material
            up in the next few days and you have no time left so, these notes will save you and help you in good marks. All the notes are written in an easily understandable language. These notes are made by people who are highly qualified and have Ph.D. and MBA Degrees which assures you that there will be no mistakes in the notes.

<div class="col-md-6" style="font-size: 20px">
    <center> <h1>B.Tech</h1></center>
       <img src="{% static "img/bt.jpg" %}" height="300px;"width="70%">Bachelor of Technology (BTech) is a
            professional undergraduate engineering degree programme awarded to candidates after
            they complete four years of study in the field. Engineering is one of the most popular
            courses in India and there are many institutes that offer the course to aspiring students.

For admissions, the most common BTech entrance examinations are JEE Main and JEE Advanced. Along with these national level entrance examinations, there are many state and private level entrance examinations that the students can attempt for admission to the course. The basic eligibility criteria for BTech is class 12 with Physics, Chemistry and Mathematics. However, there are additional criteria in every entrance exam and institute. Some of the institutes also conduct
            admission to their courses on merit basis i.e. based on marks scored by candidates in their class 12 board exams.
</div>
            <h1>***DIPLOMA**</h1>
            <img src="{% static "img/dp.jpg" %}" height="300px"width="50%">
<pre>
	Diploma in Entrepreneurship and Business Management => DEBM	One year
Diploma in Finance, Faculty of Management & Finance	=>1 Year
Diploma in Human Resources Management	One year
Executive Diploma in Human Rights – EDHR (Sinhala & Tamil Medium) 2022/2023 => Online	1 Year
Diploma in Marketing 2022-2023	(One Year)
Executive Diploma in Business Administration (EDBA)
Postgraduate Diploma in Labour Relations and Human Resource Management – PG Dip (LRHRmgt) 2022/23 – Online Mode	1 Year
Postgraduate Diploma in Business Management – PGDip (Busi Mgmt) 2022/23 – Online Mode	=>1 Year
Diploma in Business English (Blended Mode) – 2022 intake
Postgraduate Diploma in Counselling & Psychosocial Support – PgDCP 2021/22	1 Year
Diploma in Service Management 2021
Postgraduate Diploma in Human Rights – PgDHR 2021/22	1 year
Diploma in Public Law	1 Year
Diploma in Small Business Management (DSBM)	1
</pre>   <span>   Diploma Courses in Lucknow,
Pharmacy Course Diploma in Lucknow,
Polytechnic Diploma Courses in Lucknow,
            Computer Science Diploma in Lucknow</span>
  </div>
    </div>
<div class="row">
    <div class="col-md-4"style="min-height: 500px;background: rosybrown">
        <img src="{% static "img/dp2.webp" %}" width="100%"height="300px">
       <h1> Diploma In Pharmacy D Pharm Course</h1>
Get Latest Price
Minimum qualification for admission
No. Candidate shall be admitted to Diploma in Pharmacy
Pt. I unless he/she had passed any of the following examinations in all the optional subjects and
compulsory subjects (Physics, Chemistry, Biology and /or Mathematics including English as one of the
Compulsory subjects):
    </div>
    <div class="col-md-4"style="min-height: 500px;background: rosybrown">
        <img src="{% static "img/dp3.jpg" %}"width="100%" height="300px">
<h1> Diploma In Information Technology Course</h1>
        Diploma Courses
PDMS Course
Piping Designing Course
Audio Engineering Courses
Animation Courses
Film Making Courses
PLC Automation Training Service
Part Time Courses
        Electronic Engineering Diploma in Lucknow
Desktop Publishing Diploma in Lucknow
Hardware Networking Diploma
Event Management Diploma

    </div>
    <div class="col-md-4"style="min-height: 500px;background: rosybrown">
        <img src="{% static "img/dp4.webp" %}" width="100%" height="300px">
        <h1> Diploma In E.Engineering Course</h1>
        Course Electrical Engineering has a very broad scope with the science and technology, which involves electricity, electronics & electromagnetism in order to design, construct and maintain products, services and information systems.
Electrical Engineering is a branch that deals with the field associated with power transmission and motor control.

    </div>
    </div>


</div>

</body>
</html>