<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
    <style>
 h2
 {
     text-align: center;
 }
    h1{
        font-family: "Arial Black";
   font-size:40px;

    }
    span{
        color: red;
    }
body{
   background: lightgoldenrodyellow;

}
</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="min-height: 70px;background: black;color: white;font-family: 'Arial Black';font-size: 30px;margin: 20px;padding: 10px">
           <marque > <center>**ADD MATERIAL**</center></marque>

        </div>

    </div>

</div>
<h1>Free Online Study Materials for UPBTE Boards</h1><br>
<br><h1>*****Study Material for the Diploma Course***</h1>

<div class="col-md-12"style="min-height: 600px;font-size: 25px;">
The below files are the study material which the student shall rely upon in their journey through this course. The student can download the files separately or all in one through the ‘zip file download‘ button present at the bottom of this post.

The total number of books in the syllabus are twelve. One in Tajweed, One in Arabic Language, Two levels in Hadith, Four levels in Aqeedah and four levels in Fiqh.

    <img src="{% static "img/dp1.jpg" %} "height="500px"width="100%"></div>
    </html>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12"style="min-height: 500px;background: whitesmoke; ">
        <div class="col-md-5" style="padding: 30px;text-align: center">
            <img src="{% static "img/java.cms" %}" height="400px" width="40%" >
        </div>
        <div class="col-md-6" style="font-size: 25px;font-family: Arial">
            <center> <h1> ** Java Tutorial**</h1></center>
 <center> Java Training
Our core Java programming tutorial is designed for students and working professionals.<br> Java is an object-oriented
            , class-based, concurrent, secured and general-purpose computer-programming language.<br> It is a widely used robust technology.</br>
        </center>
            <center>        <h1>What is Java?</h1></center>
Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language.

Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the name from Oak to Java.

       <h1>Platform:</h1> Any hardware or software environment in which a program runs, is known as a platform. Since Java has a runtime environment (JRE) and API, it is called a platform.

            <center>   <h3> Java Example</h3></center>
Let's have a quick look at Java programming example. A detailed description of Hello Java example is available in next page.
    <center>  <img src="{% static "img/ex.PNG" %}" height="300px"width="30%"></center>
</div>
</div>

</div>
        <h1>Application</h1>
<h4>According to Sun, 3 billion devices run Java. There are many devices where Java is currently used. Some of them are as follows.
</h4><li>
            <l1>Desktop Applications such as acrobat reader, media player, antivirus, etc.</l1>
      <li>       Web Applications such as irctc.co.in, javatpoint.com, etc.</li>
             <li>Enterprise Applications such as banking applications.</li>
         <li>Mobile</li>
     <li>Embedded System</li>
     <li>Smart Card</li>
 <li>Robotics</li>
 <li>Games, etc.</li>
        </li>
    <h1>Types of Java Applications</h1>
<h4>There are mainly 4 types of applications that can be created using Java programming:
</h4>
    <p>
1) Standalone Application
Standalone applications are also known as desktop applications or window-based applications. These are traditional software that we need to install on every machine. Examples of standalone application are Media player, antivirus, etc. AWT and Swing are used in Java for creating standalone applications.
    </p>
<p>2) Web Application
An application that runs on the server side and creates a dynamic page is called a web application. Currently, Servlet, JSP, Struts, Spring, Hibernate, JSF, etc. technologies are used for creating web applications in Java.
</p>
<p>3) Enterprise Application
An application that is distributed in nature, such as banking applications, etc. is called an enterprise application. It has advantages like high-level security, load balancing, and clustering. In Java, EJB is used for creating enterprise applications.
</p>
<p>4) Mobile Application
An application which is created for mobile devices is called a mobile application. Currently, Android and Java ME are used for creating mobile applications.
</p>

   <h1> Java Platforms / Editions
   </h1>
<h4>There are 4 platforms or editions of Java:
</h4>
    <h3>1) Java SE (Java Standard Edition)</h3><br>
It is a Java programming platform. It includes Java programming APIs such as java.lang, java.io, java.net, java.util, java.sql, java.math etc. It includes core topics like OOPs, String, Regex, Exception, Inner classes, Multithreading, I/O Stream, Networking, AWT, Swing, Reflection, Collection, etc.
<br><br>
    <h3>2) Java EE (Java Enterprise Edition)</h3><br>
It is an enterprise platform that is mainly used to develop web and enterprise applications. It is built on top of the Java SE platform. It includes topics like Servlet, JSP, Web Services, EJB, JPA, etc.
<br><br>
    <h3>3) Java ME (Java Micro Edition)</h3><br>
It is a micro platform that is dedicated to mobile applications.
<br><br>
    <h3>4) JavaFX</h3><br>
It is used to develop rich internet applications. It uses a lightweight user interface API.
<br><br>
    <h3>Prerequisite</h3><br>
To learn Java, you must have the basic knowledge of C/C++ programming language.
<br><br>
    <h3>Audience</h3><br>
Our Java programming tutorial is designed to help beginners and professionals.
<br><br>
    <h3>Problem</h3><br>
We assure that you will not find any problem in this Java tutorial. However, if there is any mistake, please post the problem in the contact form.
</div>
<div class="row">
    <div class="col-md-12" style="min-height: 400px;background: whitesmoke;text-align: center;padding: 30px;font-size: 25px">
        <div class="col-md-6">
            <img src="{% static "img/python.jpg" %}"height="350px"width="40%">
       <h1> Python Tutorial</h1>
           <p> This Python tutorial has been written for the beginners to help them understand the basic to advanced concepts of
               Python Programming Language. <br>After completing this tutorial, you will find yourself
            a great level of expertise in Python, from where you can take yourself to the next levels to become a world class Software Engineer.
           </p>
            <h1>  What is Python?</h1>
Python is a very popular general-purpose interpreted, interactive, object-oriented, and high-level programming language.<br>
            Python is dynamically-typed and garbage-collected programming language. <br>It was
            created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public
            License (GPL).

            <img src="{% static "img/py.PNG" %}"height="200px"width="100%" >
<div class="row">
    <div class="col-md-12" style="min-height: 400px;background: snow;text-align: left">
        <div class="col-md-6" style="min-height:400px;">
            <h1>  Python Jobs</h1>
Today, Python is very high in demand and all the major companies are looking for great Python Programmers to develop websites, software components, and applications or to work with Data Science, AI, and ML technologies. When we are developing this tutorial in 2022, there is a high shortage of Python Programmers where as market demands more number of Python Programmers due to it's application in Machine Learning, Artificial Intelligence etc.

Today a Python Programmer with 3-5 years of experience is asking for around $150,000 annual package and this is the most demanding programming language in America. Though it can vary depending on the location of the Job. It's impossible to list all of the companies using Python, to name a few big companies are:
<li>
<li>Google</li>
<li>Intel</li>
<li>NASA</li>
            </li>ETC..
            <img src="{% static "img/py1.PNG" %}"height="200px"width="100%" >
             <img src="{% static "img/p1.PNG" %}"height="200px"width="100%" >
      <h1> Careers with Python<h1>
<h3>If you know Python nicely, then you have a great career ahead. Here are just a few of the career options where Python is a key skill:
</h3>
          <li>
 <li>Game developer  </li>
 <li>Web designer  </li>
 <li>Python developer  </li>
 <li>Full-stack developer  </li>
 <li>Machine learning engineer  </li>
 <li>Data scientist  </li>
 <li>Data analyst  </li>
 <li>Data engineer  </li>
 <li>DevOps engineer  </li>
 <li>Software engineer  </li>
 <li>Many more other roles  </li>

          </li>

       <h1>   Characteristics of Python</h1>
<h4>Following are important characteristics of Python Programming −
</h4><li>
<li>It supports functional and structured programming methods as well as OOP.</li><br>
<li>It can be used as a scripting language or can be compiled to byte-code for building large applications.</li><br>
<li>It provides very high-level dynamic data types and supports dynamic type checking.</li><br>
<li>It supports automatic garbage collection.</li><br>
<li>It can be easily integrated with C, C++, COM, ActiveX, CORBA, and Java.</li><br>
      </li>



   <h1> Applications of Python<h1>
<h3>The latest release of Python is 3.x. As mentioned before, Python is one of the most widely used language over the web. I'm going to list few of them here:
</h3>
       <li>
<li>Easy-to-learn − Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.</li><br>
<li>Easy-to-read − Python code is more clearly defined and visible to the eyes.</li><br>
<li>Easy-to-maintain − Python's source code is fairly easy-to-maintain.</li><br>
<li>A broad standard library − Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.</li><br>
<li>Interactive Mode − Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.</li><br>
<li>Portable − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.</li><br>
<li>Extendable − You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</li><br>
<li>Databases − Python provides interfaces to all major commercial databases.</li><br>
<li>GUI Programming − Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.</li>
Scalable − Python provides a better structure and support for large programs than shell scripting.</li>
       </li></div> </div></div></div>


    </div>

</div>



</body>
</html>