<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head><{% load static %}}
    <meta charset="UTF-8">
    <title>Title</title>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
    <style>
h1{
    font-size: 30px;
    font-family: "Arial Black";
    color: #761c19;
}
</style></head>

<body>
<center><h1>**CONTACT Study**</h1></center>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"style="min-height: 400px"></div>
        <div class="col-md-9"style="min-height: 400px;background: floralwhite;">
<h3>COVID-19 Impact on Pancreatic Cancer Care Pathway</h3>
            <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                <img src="{% static "img/co.jpg" %}" height="250px"><h1>Meta Coordinators and Site</h1>

See the full list of coordinators in your area
            </div>
             <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                 <img src="{% static "img/co1.jpg" %}" height="250px"><h1>Useful Documents</h1>

Here you will find all the relevant documentation for the project

             </div>
            <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                   <img src="{% static "img/co2.jpg" %}" height="250px"><h1>Getting Started</h1>

What your team should look like
             </div>

        </div>
        <div class="row">
        <div class="col-md-2"style="min-height: 400px"></div>
              <div class="col-md-9"style="min-height: 400px;background: floralwhite;">
<h3>COVID-19 Impact on Pancreatic Cancer Care Pathway</h3>
            <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                <img src="{% static "img/co1.jpg" %}" height="250px"><h1>Study Overview</h1>
To assess the impact of SARS-CoV-2 pandemic on newly diagnosed pancreatic cancer patients in the UK
            </div>
             <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                 <img src="{% static "img/co.jpg" %}" height="250px"><h1>User Guide</h1>
Step by step guide to the stages of the project

             </div>
            <div class="col-md-4"style="min-height: 300px;background: whitesmoke">
                   <img src="{% static "img/co1.jpg" %}" height="250px"><h1>Steering Committee</h1>
The team behind the project
             </div>
              </div>
        </div>
</div>

</div>
</body>
</html>