{% extends "master.html" %}
{% block content %}
<html><head>
<style>
    h1{
        font-family: "Arial Black";
        font-size: 30px;

    }

</style>
{% load static %}

</head><body>
    <div class="row">
    <div class="col-md-12"style="min-height: 400px;background: whitesmoke">
        <div class="col-md-1"style="min-height: 400px;background: whitesmoke" ></div>
        <div class="col-md-3"style="min-height: 400px">
            <a href="https://openknowledge.worldbank.org/"></a>
            <img src="{% static "img/std31.jpg" %}"style="min-height:100px; padding:20px 30px">
<h3>Hand-Writing</h3><p>
Let me ask you a question! Suppose you have received two letters one</p>

        </div>

        <div class="col-md-3"style="min-height: 400px">
            <a href="https://openknowledge.worldbank.org/"></a>
            <img src="{% static "img/std21c.jpg" %}"style="min-height:300px; padding:20px 30px"><h3>Study-Materials</h3><p>
            As per student Online Study Material demand, we have made</p></div>
            <div class="col-md-3"style="min-height: 400px; ">
                <a href="https://openknowledge.worldbank.org/"></a>
                <img src="{% static "img/std21c.jpg" %}"style="min-height:100px; padding:20px 30px"><h3>Assignment Service</h3><p>
We will be providing you with one of the best</p>
            </div>


        </div></div>
    </div>
    <div class="row">
        <div class="col-md-12"style="  min-height:500px;background: papayawhip">
            <center><h1>
                List of Online Study Material/Resources in Open Access


            </h1></center>
            <div class="col-md-2" style="min-height: 700px;"></div>


<div class="col-md-8"style="min-height: 700px; background: whitesmoke;font-size: 20px">
    <div class="col-md-1"style="min-height: 700px"></div>

    <ol>

        <li>National Digital Library of India<br>(<a href="https://ndl.iitkgp.ac.in/">https://ndl.iitkgp.ac.in/</a>)</li>
          <li>Directory of Open Access Journals<br>

(DOAJ)<br>(<a href="https://doaj.org/">https://doaj.org/</a>)</li>
        <li>Directory of Open Access Books

<br>(<a href="https://www.doabooks.org/">https://www.doabooks.org/</a>)</li>
        <li>National Programme on<br>

Technology Enhanced Learning
<br>
(NPTEL)

<br>(<a href="https://nptel.ac.in/">https://nptel.ac.in/</a>)</li>
  <li>Shodhganga-a reservoir of Indian
<br>
theses
      (<a href="https://shodhganga.inflibnet.ac.in/">https://shodhganga.inflibnet.ac.in/</a>)</li>
 <li>	e-PG Pathshala
      (<a href="https://epgp.inflibnet.ac.in/">https://epgp.inflibnet.ac.in/</a>)</li><br>
        <li>Open Access Thesis &<br>

Dissertations
      (<a href="https://oatd.org/">https://oatd.org/</a>)</li>
          <li>Open Knowledge Repository -<br>

World Bank
      (<a href="https://openknowledge.worldbank.org/">https://openknowledge.worldbank.org/</a>)</li><br>
     <li>Legal Information Institute of India
      (<a href="http://liiofindia.org/">http://liiofindia.org/</a>)</li><br>
  <li>The OAPEN Foundation
      (<a href="http://www.oapen.org/content/">http://www.oapen.org/content/</a>)</li>


    </ol>
</div>
    </div>

    </div>
{% endblock content %}
</body>
</html>