<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-6"style="min-height: 70px;background: black;color: white;text-align: center;font-size: 30px">

        <marquee directione="right" scrollamount="20">  **MATERIALS**</marquee></div>
</div>

 <div class="row">
         <div class="col-md-6"style="background:ghostwhite;height: 600px;text-align: center;padding: 20px">
             <div class="col-md-6"style="min-height: 600px">
                 <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/v9q21TkaREI">
                      <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/1AsjgE4BW-I">
               <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/zFRFTYN5Kgc">
          <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/rwWXR-3O7oE">
          <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/vpAJ0s5S2t0">
          <embed style="width: 30%;height: 350px;" src="https://www.youtube.com/embed/TXCj39dGLlY">

             </div>

</body>
</html>