<html>
<head>
    {% extends "master.html" %}
    {% block content %}
    {% load static %}

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<style>
span{
color:red;
}
h1{
    font-family: "Arial Black";

}
.text{
font-size:20px;

}
ul li{
list-style:none;
font-size:30px;
}
p{
font-size:20px;
font-family:Bahnschrift Condensed;
}
</style>





</head>
<body>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
</Button>
</div>




<div class="container-fluid">
<div class="row">
<div class="col-md-12"style="min-height:50px;color:brown;background:white;font-size: 30px;font-family: 'Arial Black' ">
<img src="{% static "img/osz.png" %}" height="90px" width="10%;">
    <center>   ***ONLINE STUDY PORTAL***</center>
</div>




<div class="container-fluid">
<div class="row">
    <div class="col-md-12" style="min-height: 400px">
    <!----start slider--------->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static "img/stuu3.jpg" %}" alt="...">
      <div class="carousel-caption">
        ...
      </div>

    </div>
    <div class="item">
      <img src="{% static "img/stuu4.jpg" %}" alt="..."/>
      <div class="carousel-caption">

      </div>
    </div>
      <div class="item">
      <img src="{% static "img/stuu2.jpg" %}" alt="..."/>
      <div class="carousel-caption">

      </div>
    </div>
    .. <div class="item">
      <img src="{% static "img/stuu3.jpg" %}" alt="..."/>
      <div class="carousel-caption">
      </div>
      </div>.
  </div>

<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="col-md-12"style="min-height:200px;background:pink;padding:20px 30px">

<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px;padding: 30px 50px; border-radius:20px">
<img src="{% static "img/pa1.jpg" %}" height="150px;padding:10px 30px">
</div>
<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px; padding:30px 50px;">
<img src="{% static "img/pa2.jpg" %}" height="150px;padding:20px 30px">
</div>
<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px; padding: 30px 15px;">
<img src="{% static "img/pa21.jpg" %}" height="150px; padding:30px 30px";></div>

</div>
<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px; padding: 30px 15px;">
<img src="{% static "img/pa21.jpg" %}" height="150px; padding:30px 30px";></div>
<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px;padding: 30px 50px; border-radius:20px">
<img src="{% static "img/pa1.jpg" %}" height="150px;padding:10px 30px">
</div>
<div class="col-md-2" style="min-height:150px;border-radius:30px;background:white;margin:50px 50px; padding:30px 50px;">
<img src="{% static "img/pa2.jpg" %}" height="150px;padding:20px 30px">
</div>
</div>

<div class="col-md-1"style="min-height:500px"></div>
<div class="col-md-10"style="min-height:500px">

<h1>Most Experienced & Trusted Website for Assignments & Projects</h1><p>
An idea can change your life"! Yes, it all started with an idea for the students,
 a way of helping them in as many ways as possible. We started as a small organization,
 and as the years passed, Studyzone slowly and steadily spread its wings across the different sectors of the business.
 Now we have become a fully-fledged organization and have excelled in various fields by gaining trust from the customers,
 providing them with quality
services and all kinds of facilities. We made our presence felt across the business with multiple services like</p>
<div class="text"><span>
<ul>
<li>Assignment Service</li>
<li>Dissertation Service</li>
<li>PhD. Thesis Writing Service</li>
<li>Essay Writing Service</li>
<li>Handwriting Service</li>
<li>Project report service for all courses</li>
<li>Synopsis Service</li>
<li>Nmims Solve Assignment</li>
<li>One of the best expert panels:  </li>
</ul>
</span>
</div></p>
<p>
The study zone has a grid of experts relating to various fields.
 We look to providing you with one of the best services, for that,
 we have a panel of experts relating to various fields like; Masters of Business administration (MBA), Human Resource
Management, Marketing Management, Supply Chain Management, Financial Management, Information Technology, International Business
Operations, Retail Management, Operation or Production Management, Insurance, and so on… Our main reason for having these gems
panel is because if you visit us with any query regarding any field of education, we will not let you go without complete
guidance. We are aware that every subject is different from the other, and each
 subject has its diversifications. The best way of getting quality service is to get different experts for different subjects.
</p>
</div>
</div>
<div class="row">
<div class="col-md-1" style="min-height:400px;background:white">
</div>
<div class="col-md-10"style="min-height:400px;background:wheat">
<div class="col-md-1" style="min-height:400px;background:wheat"></div>
<div class="col-md-3" style="min-height:400px;background:wheat">
<img src="{% static "img/stdd1.jpg" %}"style="min-height:300px; padding:20px 30px"><h3>Study-Materials</h3><p>
As per student Online Study Material demand, we have made</p>
</div>
<div class="col-md-3" style="min-height:400px;background:wheat">

<img src="{% static "img/std21.jpg" %}"style="min-height:100px; padding:20px 30px"><h3>Assignment Service</h3><p>
We will be providing you with one of the bes</p></div>
<div class="col-md-3" style="min-height:400px;background:wheat">
<img src="{% static "img/std31.jpg" %}"style="min-height:100px; padding:20px 30px">
<h3>Hand-Writing</h3><p>
Let me ask you a question! Suppose you have received two letters one</p>
</div>
</div>




<div class="row">
<div class="col-md-12"style="min-height:500px; background:whitesmoke"><center><h1>OUR TEAM CONSISTS OF SPECIALISTS IN 36+ SUBJECT AREAS
<p><b>WE CAN HELP YOU WITH ANY SUBJECT</b></p></h1></center>
<div class="col-md-1"style="min-height:400px"></div>
<div class="col-md-10"style="min-height:400px">
<div class="col-md-3"style="min-height:400px;margin:40px 60px">
<ul>
<li>Accounting & Finance</li>
<li>Agriculture & Forestry</li>
<li>Architecture</li>
<li>Art & Design</li>
<li>Business Management</li>
<li>Dentistry</li>
<li>Mechanical Engineering</li>
<li>Politics</li>
</ul>
</div>
<div class="col-md-3"style="min-height:400px ;padding:40px 50px;font-size:40px" >
<ul>
<li>English Language</li>
<li>History</li>
<li>Hospitality & Tourism</li>
<li>Medicine</li>
<li>Electrical Engineering</li>
<li>Physics & Astronomyy</li>
<li>Philosophy</li>
<li>Nursing</li>
</ul>

</div>
<div class="col-md-3"style="min-height:400px;margin:40px 50px">
<ul>
<li>Youth Work</li>
<li>Mathematics</li>
<li>Geology</li>
<li>Marketing</li>
<li>Law</li>
<li>Film Making</li>
<li>Fashion</li>
<li>Geography & Environmental</li>
</ul>
</div>
</div>
<div class="col-md-12"style="min-height:400px;background:#2aabd2">
    <center><h1>our Services</h1></center></h1><center>
<ul>
<li>Study-Materials</li>
<li>Assignment Service</li>
<li>Assignment Service</li>
<li>Hand-Writing</li>
<li>Search Engine Optimization</li>
<li>Web Content Writting</li>
<li>Essay Writing</li>
<li>PHD Thesis Writing Service</li>
<li>Synopsis</li>

</ul>
</center>
</div>
</div>
    {% endblock content %}












</body>
</html>