<html lang="">
<head>
      {% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>


<title>Online study Portal</title>
<style>

body{
	background-color:white;
}

.nav  ul li{
	float:left;
list-style:none;
padding:0 5px;
margin:0 30px;
}

.navbar1 ol li {
	list-style:none;
	
}
.navbar2{
	
	float:left;
}
.nav{
	font-size:20px;
	
}
.nav  li a:hover{
	color:red;
	
}
.img{
	
	position:relative
}
.text{
	position:absolute;
	top:5%;
	color:white;
	padding:20px;
	color:gray;
	
	
}
span{
	color:green;
}
.text2{
	
	font-size:20px;
	margin:20px 50px;
}
.outer{
	
	background-color:cyan;
	margin:0 0;
	padding:20px 180px;
}
.link{
	
	padding:30px 35px;
	
}
.text3{
	
	font-size:25px;
	
}
.img2{
	

	margin:80px 0px;
	
}

hr{
	color:blue;
}
















.box{

    background: #3c3c3c;
}




</style>
</head>

<body>

<div class="nav">

<img src="{% static "img/stt.png" %}" width="25%" height="100px"/><nav>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">For student</a></li>
<li><a href="#">For institution</a></li>
<li><a href="#">careers</a></li>
<li><a href="#">New insighte</a></li>
<li><a href="#">Event</a></li>
<li><a href="#">content</a><li>
</ul>
</nav>
<div class="img">
<img src="{% static "img/ff.jpg" %}" width="100%" height="400px"/>
<div class="text">
<h1>
<p>Studyportals is the global study choice platform.</p>
<p>Empowering the world to choose education.</p></h1>
</div>
    <div class="text2 ">
<h2>Studyportals</h2> began as a spin-off from a couple of large international
 study associations. It was born out of frustration, a total lack of information and overview of the fast-growing number of 
 international Master’s programmes in Europe. In 2007,<span> Mastersportal.com</span> was developed and proved to be a roaring success.
 Soon after,<span> Bachelorsportal.com, PhDportal.com, Shortcoursesportal.com,</span> and <span>Distancelearningportal.com </span>followed.
<p>In 2021, we helped 52 million students around the world to explore study programmes and make an informed choice,
    throughout over 200,000 courses at 3,750+ educational institutes across 110 countries.</p>
<p><span>Read more about our story</span></p>
<div class="outer">
<center><h1>Meet the founders</h1></center>
<img src="{% static "img/a.jfif" %}" width="15%" height="180px"/>Edwin van Rest
CEO
<img src="{% static "img/f2.jpg" %}" width="15%"/>Thijs Putman
Chief Architect
<img src="{% static "img/f3.jfif" %}" width="15%" height="180px"/>Magnus Olsson
Director
    <center>
        <p> <a href="https://studyportals.com/team">Out mission and core value</a></p>
    </center>
</div>>

<div class="text3">
<center><h1> Our patners</h1></center>
<p>We collaborate with both student and academic organisations worldwide, and we are proud of our meaningful partnerships!
</p>
<center><p><span>Read more about Our Partners</span></p></center>
<div class="img2">
<img src="{% static "img/f5.jpg" %}"  width="10%" height="50px"/>
<img src="{% static "img/f4.jpg" %}" width="10%" height="50px"/>
<img src="{% static "img/f6.png" %}" width="10%" height="50px"/>
<img src="{% static "img/f7.jpg" %}"width="10%" height="50px"/>
<img src="{% static "img/f8.jpg" %}" width="10%" height="50px"/>
<img src="{% static "img/f9.jpg" %}" width="10%" height="50px"/>
<img src="{% static "img/f11.png" %}" width="10%" height="50px"/>
</div>
<hr>
<div class="navbar1">

</h2>SITEMAP</h2>
<ol>
<li><a href="#">About</a><li> 
<li><a href="#">For Students </a><li>
<li><a href="#">For Institutions </a><li>
<li><a href="#">Careers </a><li>
<li><a href="#">News & Insights </a><li>
<li><a href="#">Initiatives </a><li>
<li><a href="#">Events </a><li>
<li><a href="#">Contact</a><li>
</ol>

<div class="navbar2">
<h2>OUR PORTALS</h2>
<ol>
<li><a href="#">Bachelorsportal.com</a><li> 
<li><a href="#"> Mastersportal.com</a><li>
<li><a href="#"> PhDportal.com
</a><li>
<li><a href="#">Shortcoursesportal.com
 </a><li>
<li><a href="#"> Distancelearningportal.com</a><li>
<li><a href="#"> Scholarshipportal.com</a><li>
<li><a href="#"> Admissiontestportal.com</a><li>
<li><a href="#">Englishtestportal.com</a><li>
</ol>
<div class="navbar3">
<h2>SERVICES</h2>
<ol>
<li><a href="#">University Administration</a><li> 
<li><a href="#">Register your university </a><li>

</ol>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>